<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name.upcase %>
    </h1>
    <p>
      Your Account will be deleted by admin 
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>