<div id="<%= dom_id library %>">
  <p>
    <strong>Library Name:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Opening Time:</strong>
    <%= library.opening_time %>
  </p>

  <p>
    <strong>Closing Time:</strong>
    <%= library.closing_time %>
  </p>

  

</div>
